* {
	box-sizing: border-box;
}

body { margin: 0; }

.section {
	width: 100%;
}

.section-one {
	background:rgba(0, 100, 240, 0.12);
	border-bottom: 1px solid rgba(0, 100, 240, 0.12);
}

.container {
	width: 1500px;
	max-width: 100%;
	padding: 30px;
	padding-bottom: 72px;
}

h2 {
	letter-spacing: -0.5px;
	font: bold 40px/48px Helvetica Neue. "Open Sans". sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

p {
	letter-spacing: 0.1px;
	color: #000000;
	font: 16px/24px Helvetica Neue. "Open Sans". sans-serif;
}